# .gitignore file for WordPress that ignores everything except:
#
# - .gitignore
# - favicon.ico
# - wp-config.php
# - everything in mu-plugins
# - my-plugin
# - my-theme (except for .sass-cache)
#
# based on https://gist.github.com/jdbartlett/444295
/*
!*.md
/*.md
!.gitignore
!favicon.ico
!wp-content

wp-content/*
!wp-content/mu-plugins
!wp-content/plugins
!wp-content/themes

.sass-cache

node_modules